# conda env create -f environment.yml
name: daops
channels:
  - conda-forge
  - defaults
dependencies:
  - pip
  - numpy>=1.16
  - xarray>=0.15
  - dask
  - netcdf4
  - clisops>=0.6.4
  - elasticsearch>=7.9.1
  - roocs-utils>=0.4.2
  # catalog
  - intake
  - fsspec<0.9
  - aiohttp
