# conda env create -f environment-docs.yml
name: daops
channels:
  - conda-forge
dependencies:
  - python >=3.10
  - pip >=25.0
  - cftime
  - clisops >=0.16.2
  - dask
  - elasticsearch>=8.0.1
  - netcdf4
  - numpy >=1.25.0
  - roocs-grids >=0.1.2
  - xarray >=2025.6.0
  - xesmf >=0.8.2
  # logging
  - loguru >=0.5.3
  # catalog
  - intake >=0.7.0,<2.0
  - pandas >=2.1
  # to support kerchunk
  - fsspec
  - aiohttp
  - zarr >=2.13.3
  - zstandard
