# conda env create -f environment.yml
name: daops
channels:
  - conda-forge
  - defaults
dependencies:
  - pip
  - numpy>=1.16
  - xarray>=0.15
  - dask
  - netcdf4
  - clisops>=0.7.0
  - elasticsearch>=7.9.1
  - roocs-utils>=0.5.0
  # catalog
  - intake
  - fsspec
  - aiohttp
