# conda env create -f environment.yml
name: daops
channels:
  - conda-forge
  - defaults
dependencies:
  - pip
  - numpy >=1.16
  - xarray >=0.21,<2023.3.0 # https://github.com/pydata/xarray/issues/7794
  - dask
  - netcdf4
  - clisops >=0.12.0
  - roocs-grids >=0.1.2
  - xesmf >=0.8.2
  - elasticsearch>=7.9.1
  - roocs-utils>=0.6.2
  # logging
  - loguru >=0.5.3
  # catalog
  - intake >=0.7.0,<2.0
  # to support kerchunk
  - fsspec
  - aiohttp
  - zarr==2.13.3
  - zstandard
