# conda env create -f environment-docs.yml
name: daops
channels:
  - conda-forge
dependencies:
  - python >=3.11
  - pip >=25.2
  - flit >=3.11.0,<4.0
  - cftime
  - clisops >=0.17.0
  - dask >=2024.12.0
  - elasticsearch >=8.0.1,<9.0
  - numpy >=1.26.0
  - roocs-grids >=0.1.2
  - xarray >=2025.6.0
  - xesmf >=0.9.2
  # testing
  - coverage >=7.6.0
  - h5netcdf >=1.5.0
  - pytest-loguru >=0.3.0
  - pytest >=8.0.0
  - pytest-cov >=6.0.0
  - pytest-timeout >=2.4.0
  # logging
  - loguru >=0.5.3
  # catalog
  - intake >=0.7.0,<2.0
  - pandas >=2.1
  # to support kerchunk
  - fsspec
  - aiohttp
  - zarr >=2.13.3
  - zstandard
  # for versioning
  - bump-my-version >=1.2.0
