numpy>=1.16
xarray>=0.15
dask[complete]
netcdf4
elasticsearch>=7.8.0
clisops>=0.6.4
# clisops @ git+https://github.com/roocs/clisops.git
roocs-utils>=0.4.2
# roocs-utils @ git+https://github.com/roocs/roocs-utils.git@master#egg=roocs-utils
# catalog
intake
fsspec<0.9
aiohttp
